<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ruanyun.backInterface.modules.business.bestChoiceShop.mapper.BestShopMapper">

    <!--
     * APP严选商家
     * @param strict 是否严选1是  0否
    -->
    <select id="getBestChoiceShopList" resultType="cn.ruanyun.backInterface.modules.business.bestChoiceShop.VO.BestShopListVO">
          select u.id AS userId ,u.shop_name,u.pic,sa.store_audit_id AS strictId,sa.strict from  t_user AS u
          LEFT JOIN t_best_shop AS sa ON u.id = sa.create_by where u.id = #{ids} and u.del_flag = 0
            <if test="strict!=null and strict!= '' ">
                and sa.strict = #{strict}
            </if>

    </select>


</mapper>