<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ruanyun.backInterface.modules.business.giveLike.mapper.GiveLikeMapper">

    <delete id="removeGiveLike">
        delete from t_give_like where dynamic_video_id = #{dynamicVideoId} and  create_by = #{id}
    </delete>
</mapper>